  body {
    font-family: Arial;
    margin: 0;
  }
  html {
    margin:0;
    padding:0;
    color:#000;
  }
  #wrap {
    padding: 10px 20px;
  }
  #header {
    height: 80px;
    padding:0px 0px;
  }
  h1 {
      margin:0;
  }
  #nav-roles {
    padding:0px 0px 10px 0px;
  }
  #nav-roles a {
    color: red;
  }
  #nav-roles ul {
    padding:0;
    list-style:none;
    font-size: 80%;
  }
  #nav-roles li {
    display:inline;
    margin: 0px 30px 0px 0px;
    padding:0;
  }
  #nav-geographies {
    padding:0px 0px 10px 0px;
  }
  #nav-geographies a {
    color: blue;
  }
  #nav-geographies ul {
    padding:0;
    list-style:none;
    font-size: 70%;
  }
  #nav-geographies li {
    display:inline;
    margin: 0px 20px 0px 0px;
    padding:0;
  }
  #main {
    float:left;
    width:100%;    
    background:#9c9;
  }
  h2 {
    margin:0 0 1em;
  }
  #sidebar {
    float:right;
    width:20%;
    padding:0px 0px;
    height: 480px;
    text-align: center; 
  }
  .ad {
    margin: 0px 10px 20px 10px;
  }
  #footer {
    clear:both;
    padding: 10px 0px;
  }
  #footer p {
    margin:0;
    padding:0;
    color: gray;
    font-size: 80%;
  }
  * html #footer {
    height:1px;
  }
